body{
    background-color:rgb(204, 255, 255);
}
table{
    margin:110px 50px 30px 500px;
    background-color: rgb(0,204,255);
    
}
table,td {
        border: 3px solid black;
        text-align: center;
        border-radius:10px;
     }
td{
    height:60px;
    width:60px;
   background-color:rgb(255,255,153);
    
}
#calc{
 width: 250px;
border: 3px solid black;
border-radius: 3px;
padding: 20px;
margin: auto;
border-radius:15px;
}
button{
    font-size:20px;
    height:45px;
    width:50px;
    border-radius:10px;
}


@media only screen and (max-width: 600px) {
table{
    margin-left:160px;
}
}
@media only screen and (max-width: 800px) {
table{
    margin-right:0px;
    margin-left:180px;
}
}
@media only screen and (max-width: 1000px) {
table{
    
    margin-left:190px;
}
}
@media only screen and (max-width: 1200px) {
    table{
        
        margin-left:190px;
    }
    }